<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:tiles="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org" 
	  lang="en">

<head>
    <title>Italk2learn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/italk2learn/js/history/history.js"></script>
    <!-- END Browser History required section -->

    <script type="text/javascript" src="/js/swfobject.js" th:src="@{/resources/js/swfobject.js}"></script>
    <script type="text/javascript" src="http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js"></script>
    <script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js'></script>
    <script type="text/javascript" src="#" th:src="@{/resources/dojo/dojo.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring-Dojo.js}"></script>
</head>


<body class="tundra" style="margin: 50; padding: 50">
    <table align="center">
        <tr align="center">
            <td align="center">
                <table align="center">
                    <tr align="center">
                        <td align="center">
                            <div id="content" align="center">
                                <div id="main" class="span-18 last" tiles:include="body" align="center">

                                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                                    <!-- At runtime, the body of this <div> will be substituted by -->
                                    <!-- Tiles in order to create the final HTML page that will be -->
                                    <!-- sent to the browser.                                      -->
                                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

                                    BODY PAGE GOES HERE!

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="player"></div>
    <script type="text/javascript">
		<!--

			var config = {
					width: 800,
					height: 600,
					params: { enableDebugging:"0" }

				};
				config.params["disableContextMenu"] = true;
				var u = new UnityObject2(config);

				jQuery(function() {

					var $missingScreen = jQuery("#unityPlayer").find(".missing");
					var $brokenScreen = jQuery("#unityPlayer").find(".broken");
					$missingScreen.hide();
					$brokenScreen.hide();

	                textToSpeech($('#task').text().substring(0,110));

					u.observeProgress(function (progress) {
						switch(progress.pluginStatus) {
							case "broken":
								$brokenScreen.find("a").click(function (e) {
									e.stopPropagation();
									e.preventDefault();
									u.installPlugin();
									return false;
								});
								$brokenScreen.show();
							break;
							case "missing":
								$missingScreen.find("a").click(function (e) {
									e.stopPropagation();
									e.preventDefault();
									u.installPlugin();
									return false;
								});
								$missingScreen.show();
							break;
							case "installed":
								$missingScreen.remove();
							break;
							case "first":
							break;
						}
					});
					u.initPlugin(jQuery("#unityPlayer")[0], "http://it2l.dcs.bbk.ac.uk/italk2learn/sequence/FractionsLab.unity3d");
				});

				function SendHighMessage(message)
				{
					var json = "{\"method\": \"HighFeedback\", \"parameters\": {\"message\": \"" + message +"\"}}";
					u.getUnity().SendMessage("ExternalInterface", "SendEvent", json);
				}

				function SendLowMessage(message)
				{
					var json = "{\"method\": \"LowFeedback\", \"parameters\": {\"message\": \"" + message +"\"}}";
					u.getUnity().SendMessage("ExternalInterface", "SendEvent", json);
				}

				function textToSpeech(message) {
					play_sound("http://translate.google.com/translate_tts?ie=UTF-8&q="+encodeURIComponent(message)+"&tl=en_gb&total=1&idx=0prev=input");
		        }

	           function html5_audio(){
	        	    var a = document.createElement('audio');
	        	    return !!(a.canPlayType && a.canPlayType('audio/mpeg;').replace(/no/, ''));
	        	}
	        	 
	        	var play_html5_audio = false;
	        	if(html5_audio()) play_html5_audio = true;
	        	 
	        	function play_sound(url){
	        	    if(play_html5_audio){
//	         	    	var snd = new Audio(url);
//	         			snd.load();
//	         			snd.play();
	        	    	var sound = $("<embed id='sound' type='audio/mpeg' />");
	        	        sound.attr('src', url);
	        	        sound.attr('loop', false);
	        	        sound.attr('hidden', true);
	        	        sound.attr('autostart', true);
	        	        $('#player').append(sound);
	        	    }else{
	        	        $("#sound").remove();
	        	        var sound = $("<embed id='sound' type='audio/mpeg' />");
	        	        sound.attr('src', url);
	        	        sound.attr('loop', false);
	        	        sound.attr('hidden', true);
	        	        sound.attr('autostart', true);
	        	        $('body').append(sound);
	        	    }
	        	}
		-->
	</script>
</body>
</html>