<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:tiles="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org" 
	  lang="en">

<head>
    <title>Italk2learn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/italk2learn/js/history/history.js"></script>
    <!-- END Browser History required section -->

    <script type="text/javascript" src="/js/jquery-1.9.1.js" th:src="@{/resources/js/jquery-1.9.1.js}"></script>
    <script type="text/javascript" src="/js/swfobject.js" th:src="@{/resources/js/swfobject.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/dojo/dojo.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring-Dojo.js}"></script>
    

</head>


<body class="tundra" style="margin: 50; padding: 50">
    <table align="center">

        <tr align="center">
            <td align="center">
                <table align="center">
                    <tr align="center">
                        <td align="center">
                            <div id="content" align="center">
                                <div id="main" class="span-18 last" tiles:include="body" align="center">

                                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                                    <!-- At runtime, the body of this <div> will be substituted by -->
                                    <!-- Tiles in order to create the final HTML page that will be -->
                                    <!-- sent to the browser.                                      -->
                                    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

                                    BODY PAGE GOES HERE!

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="player"></div>
    <script type="text/javascript">
        <!--
     // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. 
        var swfVersionStr = "11.1.0";
        // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
        var xiSwfUrlStr = "playerProductInstall.swf";
        var flashvars = {
        		flashvarID: $("#flashContent").data("title")
        };
        var params = {};
        params.quality = "high";
        params.bgcolor = "#ffffff";
        params.allowscriptaccess = "sameDomain";
        params.allowfullscreen = "true";
        var attributes = {};
        attributes.id = "iTalk2Learn";
        attributes.name = "iTalk2Learn";
        attributes.align = "middle";
        swfobject.embedSWF(
            "sequence/iTalk2Learn.swf", "flashContent", 
            "1024", "768", 
            swfVersionStr, xiSwfUrlStr, 
            flashvars, params, attributes);
        // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
        swfobject.createCSS("#flashContent", "display:block;text-align:left;");

        
			// Each time that the score or question change. Result (score=2/percentage=20/time=327868/help1=3/help2=0/help3=0)
			function callJSInterface(value) {
				//Shows an alert with the exercise's score
				//alert(value);
				//Array with the values
				var res = value.split("/");
				var score=res[0].split("=");
				var percentage=res[1].split("=");
				var time=res[2].split("=");
				var help1=res[3].split("=");
				var help2=res[4].split("=");
				var help3=res[5].split("=");
				var wh = {
				       	 "score": score[1],
				       	 "percentage" : percentage[1],
				       	 "time" : time[1],
				       	 "help1" : help1[1],
				       	 "help2" : help2[1],
				       	 "help3" : help3[1]
				        };
				    $.ajax({
				        type: 'POST',
				        contentType : 'application/json; charset=utf-8',
				        dataType : 'json',
				        url: "storeWhizzData",
				        data: JSON.stringify(wh),
				        success: function(data){
				        	//alert('Change submitted!');
				        },
				        error : function(jqXHR, status, error) {
				            //alert('Change doesnt submitted!');
				        },
				    });
			}

			function textToSpeech(message) {
				play_sound("http://translate.google.com/translate_tts?ie=UTF-8&q="+encodeURIComponent(message)+"&tl=en_gb&total=1&idx=0prev=input");
	        }

           function html5_audio(){
        	    var a = document.createElement('audio');
        	    return !!(a.canPlayType && a.canPlayType('audio/mpeg;').replace(/no/, ''));
        	}
        	 
        	var play_html5_audio = false;
        	if(html5_audio()) play_html5_audio = true;
        	 
        	function play_sound(url){
        	    if(play_html5_audio){
        	    	var sound = $("<embed id='sound' type='audio/mpeg' />");
        	        sound.attr('src', url);
        	        sound.attr('loop', false);
        	        sound.attr('hidden', true);
        	        sound.attr('autostart', true);
        	        $('#player').append(sound);
        	    }else{
        	        $("#sound").remove();
        	        var sound = $("<embed id='sound' type='audio/mpeg' />");
        	        sound.attr('src', url);
        	        sound.attr('loop', false);
        	        sound.attr('hidden', true);
        	        sound.attr('autostart', true);
        	        $('body').append(sound);
        	    }
        	}
        -->
    </script>
</body>
</html>