<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org"
	  lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<title>Main Container of iTalk2learn</title>
	<!--<link rel="stylesheet" type="text/css" media="screen, projection" href="../styles/it2lmainstyles.css" />-->
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/italk2learn/styles/it2lmainstyles.css" />
	<script type="text/javascript" src="/italk2learn/js/history/history.js"></script>
	<script type="text/javascript" src="/js/swfobject.js" th:src="@{/resources/js/swfobject.js}"></script>
    <script type="text/javascript" src="/js/unity2.js" th:src="@{/resources/js/unity2.js}"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js'></script>
    <script type="text/javascript" src='js/scripts/strophe.js'></script>
    <script type="text/javascript" src='js/scripts/flXHR.js'></script>
    <script type="text/javascript" src='js/scripts/strophe.flxhr.js'></script>
	<script type="text/javascript" src="http://www.google.com/jsapi" charset="utf-8"></script>
	<script type="text/javascript" src='sequence/js/monitorWOZClient.js'></script>
	<script type="text/javascript" src="/js/initMainContainer.js" th:src="@{/resources/js/initMainContainer.js}"></script>

    <script type="text/javascript" src="#" th:src="@{/resources/dojo/dojo.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring.js}"></script>
    <script type="text/javascript" src="#" th:src="@{/resources/spring/Spring-Dojo.js}"></script>
</head>
<body class="back" style="margin-top:0px; height:inherit; margin-bottom:0px;">
<div class="background" style="margin-left: auto;margin-right: auto; height:initial;">
	<table id="header" class="header" align="center">
           <tr align="left">
             <td id="topbar" align="left">
             </td>
             <td id="logo" align="left">
                <div>
                  <a href="#" th:href="@{/}">
                    <img src="../../images/iLearnFraction_banner_05.jpg" th:src="@{/resources/images/iLearnFraction_banner_05.jpg}" alt="italk2learn" />
                  </a>
                </div>
             </td>
          </tr>
    </table>
	<table align="center" style="width:800px;">
         <tr align="center">
            <td align="center">
	            <div id="wrapper_dark_gray" style="padding-bottom:30px; min-height: 995px; padding-top:20px;">
		            <div style="display:inline; margin-left: 10px; float: left; width:130px;" sec:authorize="hasRole('ROLE_ADMIN')">
		               	<a href="#" th:href="@{/monitorWOZ}" class="it2lbutton"> Go to Woz <img style="vertical-align:middle" th:src="@{/resources/images/bt_arrow_right.png}" src="../../images/bt_arrow_right.png"></img> </a>
					</div>
		            <div style="display:inline; width:76%;">
		            	<span style="display:inline; font-weight: bold;"> Welcome Student </span> <div id="user" style="font-weight: bold; display:inline;"> Name </div>
					</div>
					<div sec:authorize="hasRole('ROLE_USER')" th:if="${#authentication}" style="display:inline; margin-right: 25px; float: right; width:12%">
						<a href="#" th:href="@{/auth/logout}" style=" float: right; color:#e74c3c; font-weight:bold; font-size:13px;">Logout</a>
					</div>
					<div id="wrapper_light_gray" style="padding-bottom:30px; min-height: 780px; margin-top: 30px;">
	
						 <table style="width:100%;">
							 <tr>
								<td style="width: 33%;">
									<div id="connect" style="color:#E74C3C; font-size:10px;">
										<div id="connectedON">
											<img style="vertical-align:middle; padding-left:25px; padding-top:4px; margin-bottom:2px;" th:src="@{/resources/images/bt_connected_on.png}" src="/italk2learn/images/bt_connected_on.PNG"></img>
											<span style="padding-left:12px; font-weight:bold;">CONNECTED</span>
										</div>
										<div id="connectedOFF">
											<img style="vertical-align:middle; padding-left:25px; padding-top:4px; margin-bottom:2px;"  th:src="@{/resources/images/bt_connected_off.png}" src="/italk2learn/images/bt_connected_off.png"></img>
			                				<span style="padding-left:5px; font-weight:bold;">DISCONNECTED</span>
										</div>		
			                		</div>
								</td>
								<td style="width: 33%;">
										<table style="width:100%; height:100%;">
											<tr>
												<td style="width:50%; height:100%;">
													<div style="display: inline-block; width:50px; height:50px; float:right; padding-top:2px;" sec:authorize="hasRole('ROLE_USER')">
														<input type="submit" id="sButton" class="it2lSoundbutton" value=""/>
													</div>
												</td>
												<td style="width:50%; height:100%;">
													<div style="display: inline-block; width:50px; height:50px; float:right; padding-top:2px;" sec:authorize="hasRole('ROLE_USER')">
														<input type="submit" id="help" class="it2lHelpbutton" value=""/>
													</div>
												</td>
								        	</tr>
								        </table>
								</td>
								<td style="width: 33%;">
										<div style="display=inline; float:right; padding-top:5px;">
											<button type="submit" id="next" sec:authorize="hasRole('ROLE_USER')" class="it2lNextbutton"></button>
							    		</div>
								</td>
							 </tr>
						 </table>
		
						 <table style="width:400px;">
							  <tr>
							    <th colspan="3" id="exercisePrompt">  </th>
							  </tr>
							  <tr>
				                  <td style="min-width:800px;">
				                		<div id="mainContainer" align="center" sec:authorize="hasRole('ROLE_USER')" class="mainContainer">
				                			<table>
				                				<tr align="center">
				                					<td align="center">
							                			<a>
							                        		<img src="../../images/it2l-loading.gif" th:src="@{/resources/images/it2l-loading.gif}" alt="loading" />
							                    		</a>
					                    			</td>
					                   			 </tr>
				                		   </table>
				                		</div>
				                  </td>
							  </tr>
						</table>
	            </div>
				<!--  END light -->
	            	<div style="display: initial; color: #0076a3; font-weight:bold;"> Voice recording </div>
		            <div style="padding-top: 8px; padding-right:150px; display: inline-block;">
		            	<div id="speechRecognition" align="center" sec:authorize="hasRole('ROLE_USER')" style="padding-top:30px;">
							<p style="display: inline; ">To view this page ensure that Adobe Flash Player version 11.1.0 or greater is installed.</p>
							<script type="text/javascript">
					              var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
					              document.write("<a href='http://www.adobe.com/go/getflashplayer' ><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
					        </script>
						</div>
					</div>
	            </div>
	            <!--  END dark -->
            </td>
          </tr>
    </table>
	<script type="text/javascript">

		$.ajax({
			type: 'GET',
			url: "sequence/getUser",
			success: function (data) {
				loadFlashMovie(data);
			},
			error: function (jqXHR, status, error) {
			}
		});
		function loadFlashMovie (us){
		     // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
		     var swfVersionStr = "11.1.0";
		     // To use express install, set to playerProductInstall.swf, otherwise the empty string.
		     var xiSwfUrlStr = "playerProductInstall.swf";
		     var flashvars = {
		     	  user: us
		         };
		     var params = {};
		     params.quality = "high";
		     params.bgcolor = "#ffffff";
		     params.allowscriptaccess = "sameDomain";
		     params.allowfullscreen = "true";
		     var attributes = {};
		     attributes.id = "It2lSpeechInterfaceMain";
		     attributes.name = "It2lSpeechInterfaceMain";
		     attributes.align = "middle";
		     swfobject.embedSWF(
		             "sequence/It2lSpeechInterfaceMain.swf", "speechRecognition",
		             "350", "150",
		             swfVersionStr, xiSwfUrlStr,
		             flashvars, params, attributes);
		     // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
		     swfobject.createCSS("#speechRecognition", "display:block;text-align:right;");
		  }
    </script>
	<noscript>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			width="250" height="250" id="Italk2learnSpeechRecognizer">
			<param name="movie" value="sequence/It2lSpeechInterfaceMain.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#ffffff" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="allowFullScreen" value="true" />
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash"
				data="sequence/It2lSpeechInterfaceMain.swf" width="250" height="250">
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="allowFullScreen" value="true" />
				<!--<![endif]-->
				<!--[if gte IE 6]>-->
				<p>Either scripts and active content are not permitted to run or
					Adobe Flash Player version 11.1.0 or greater is not installed.</p>
				<!--<![endif]-->
				<a href="http://www.adobe.com/go/getflashplayer"> <img
					src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
					alt="Get Adobe Flash Player" />
				</a>
				<!--[if !IE]>-->
			</object>
			<!--<![endif]-->
		</object>
	</noscript>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<p>
			Choose exercise
	 	<select id="exList">
    		 <option th:each="exercise : ${allExercises}" th:value="${exercise.idExercise}" th:text="${exercise.exercise}">Option</option>
     	</select>
     	<input id="submitEx" type="button" value="Submit" />
		</p>
	</div>
	<div id="player"></div>
	<audio controls="controls" id="speechProductionPlayer" hidden="true"></audio>
</div>
</body>
</html>